@import "../../global.scss";

.projects {
  background-color: $grey;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;

  .block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: $darkBlue;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;

    .arrow {
      height: 80px;
      position: absolute;
      cursor: pointer;

      &.left {
        left: 100px;
        transform: rotateY(180deg);
      }

      &.rigth {
        right: 100px;
      }
    }

    .slider {
      height: 350px;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease-out;

      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
          width: 700px;
          height: 100%;
          background-color: $grey;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          .left {
            flex: 6;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .leftcontainer {
              .imgcontainer {
                img {
                  width: 300px;
                  border-radius: 10px;
                  overflow: hidden;
                }
              }
              .btn-link {
                background-color: transparent;
                color: $pink;
                border: none;
                font-weight: 700;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                  color: $black;
                  border-radius: 10px;
                }
              }
            }
          }

          .right {
            flex: 6;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .rigthcontainer {
              width: 90%;
              height: 70%;
              display: flex;
              flex-direction: column;

              h2 {
                font-size: 20px;
                color: $pink;
                text-align: right;
              }

              p {
                font-size: 13px;
                color: $black;
                text-align: right;
              }

              span {
                font-size: 10px;
                font-weight: 900;
                color: $pink;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
